{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <form action="{{ path('load') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Загрузить</button>
    </form>

    <div class="container">
        <div id="items">
            {% for file in files %}
                <a class="item" href="/store/{{ file.id }}.{{ file.extension }}" target="_blank" download="{{ file.name }}">
                    <div class="item-icon"></div>
                    <div class="item-name">{{ file.name }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
